#about_thumb{
    padding: 0;
}

#about_thumb > div{
    padding: 0;
}

#about_thumb img{
    margin-top: 10px;
    height: 80px;
}

#about_thumb p{
    font-size: 0.6em;
}

#about_thumb h3{
    font-size: 1.2em;
    margin: 10px 0 60px 0;
}

#about_thumb .thumbnail{
    background-color: #fff;
    width: 80%;
    padding: 0;
    height: 600px;
}

#about_thumb > div.col-sm-8.row{
    margin: 0px;
}

#about_thumb > div.col-sm-8.row > div:nth-child(1) > div
{
    float: left;
}

#about_thumb > div.col-sm-8.row > div:nth-child(2) > div
{
    margin: 0 auto;
}

#about_thumb > div.col-sm-8.row > div:nth-child(3) > div
{
    float: right;
}

#about_thumb > div.col-sm-8.row > div{
    padding: 0;
}


@media (max-width: 768px){
    #bmf{
        display: none;
    }
    #about_thumb .thumbnail{
        background-color: #fff;
        padding: 0 15px;
        width: 100%;
        border: 0;
        font-size: 14px;
    }
    #about_thumb h3{
        font-size: small;
    }
    #about_thumb img{
        height: 50px;
    }
}


