#bmf{

}

/*BUTTON*/
#bmf-button{
    float: left;
    position: relative;
    left: 50%;
}
#bmf-button > button{
    float: left;
    position: relative;
    left: -50%;
    font-size: 1em;
    font-weight: bold;
    margin-top: -120px;
    border-color: inherit;
    height: 54px;
    width: 160px;
;
}
/* FORM */
#bmf-form{

}