/* No Search for mobiles: */
/*@media (max-width: 768px) {
    #sb-search {
        display: none;
    }
}*/

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sb-search {
    position: relative;
    margin: 15px auto 0 auto;
    min-width: 30px;
    min-height: 30px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

#sb-search{
    padding: 0;
}

.sb-search-input {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 79.5%;
    min-height: 30px;
    max-width: 250px;
    margin: 0 auto;
    float: right;
    z-index: 10;
    padding: 0;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}

@media (max-width: 768px){
    .sb-search-input{
        font-size : 10px;
    }
}

#search::-webkit-input-placeholder {
    font-style: italic;
}
#search::-ms-input-placeholder {
    font-style: italic;
}
#search::-moz-placeholder {
    font-style: italic;
}

.sb-search-input::-webkit-input-placeholder {
    color: #4875B4;
}

.sb-search-input:-moz-placeholder {
    color: #4875B4;
}

.sb-search-input::-moz-placeholder {
    color: #4875B4;
}

.sb-search-input:-ms-input-placeholder {
    color: #4875B4;
}

.sb-icon-search,
.sb-search-submit  {
    min-width: 30px;
    min-height: 30px;
    display: block;
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0 auto;
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: #4875B4;
    z-index: 90;
    font-size: 16px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "\e000";

}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #4875B4;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}
/* /search */

/* login */
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);

/* brandico */
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
    font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

#search-button .btn-lg{
    margin-top: 10px;
    border-radius: 20px;
    background-color: #2e6da4;
    width: 45%;
    position: relative;
    float: left;
}