<div id="dashboard-events-my_events-wrapper" ng-controller="DashboardEventsCalendarCtrl">
    <h3>Next</h3>
    <table class="table-responsive table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Event</th>
            <th>Location</th>
            <th>Starts</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{$index+1}}</td>
            <td>{{nextEvent.name}}</td>
            <td>{{nextEvent.loc}}</td>
            <td>{{nextEvent.relTime}}</td>
        </tr>
        </tbody>
    </table>

    <h3>Future Events</h3>
    <table class="table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Event</th>
                <th>Location</th>
                <th>Starts</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in futureEvents" ng-show = "$index > 0">
                <td>{{$index}}</td>
                <td>{{item.name}}</td>
                <td>{{item.loc}}</td>
                <td>{{item.relTime}}</td>
            </tr>
        </tbody>
    </table>

    <h3>Past Events</h3>
    <table class="table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Event</th>
                <th>Location</th>
                <th>Started</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in pastEvents">
                <td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.loc}}</td>
                <td>{{item.relTime}}</td>
            </tr>
        </tbody>
    </table>
</div>