<div class="dashboard-learn-wrapper">
    <label class="checkbox">
        <input type="checkbox" ng-model="oneAtATime">
        Open only one at a time
    </label>
    <accordion close-others="oneAtATime">
        <accordion-group  ng-repeat="other in others" heading="{{other.title}}">
            <div id="learn_accordion" class="col-sm-8 col-md-8">
                {{other.content}}
            </div>
            <div class="col-sm-2 col-md-2">
                <img src="{{other.photos}}">
            </div>
        </accordion-group>
    </accordion>
    <!--&lt;!&ndash;<div ng-repeat="question in questions">-->
        <!--<div class="label label-warning">Question {{currentPage}} of {{totalItems}}.</div>-->
        <!--<div class="question">-->
            <!--<h2>{{currentPage}}. {{question.Name}}</h2>-->
            <!--<div class="options">-->
                <!--<div ng-repeat="Option in question.Options">-->
                    <!--<label for="{{Option.Id}}" ng-click="onSelect(Option);">-->
                        <!--<input id="{{Option.Id}}" type="checkbox" ng-model="Option.Selected" />-->
                        <!--{{Option.Name}}-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>&ndash;&gt;-->
</div>