
<link rel="stylesheet" href="../../../assets/css/style.css">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar" class="navbar-toggle collapsed"><i class="fa fa-bars"></i></button>
            <a href="/" class="navbar-brand">CDAIS</a></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i
                        class="fa fa-bell fa-fw"></i><i class="fa fa-caret-down"></i><span
                        class="badge badge-default">1</span></a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li><a href="#" class="text-center"><strong>See All Alerts</strong></a></li>
                    </ul>
                </li>
                <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i
                        class="fa fa-envelope fa-fw"></i><i class="fa fa-caret-down"></i><span
                        class="badge badge-default">1</span></a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li><a href="#" class="text-center"><strong>Read All Messages</strong></a></li>
                    </ul>
                </li>
                <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i
                        class="fa fa-tasks fa-fw"></i><i class="fa fa-caret-down"></i><span class="badge badge-default">1</span></a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li><a href="#" class="text-center"><strong>See All Tasks</strong></a></li>
                    </ul>
                </li>
                <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i
                        class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>Profile</a></li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a></li>
                        <li class="divider"></li>
                        <li><a id="sign-out" href="#"><i class="fa fa-sign-in fa-fw"></i>Sign Out</a></li>
                        <li><a id="login" href="#"><i class="fa fa-sign-in fa-fw"></i>Login</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a ui-sref=".home">Home</a></li>
                <li><a ui-sref=".profile">Profile</a></li>
                <li><a ui-sref=".events">Events</a></li>
                <li><a ui-sref=".learn">Learn</a></li>
                <li><a ui-sref=".feedback">Feedback</a></li>
                <li><a ui-sref=".post">Post</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
        </div>
    </div>
</div>