<div id="dashboard-post-wrapper">
    <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="previewBlogpost()" ng-show="htmlcontent">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Preview
    </button>
    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="uploadBlogpost()" ng-show="htmlcontent">
        <span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Finished
    </button>
    <div class="row">
        <div class="col-sm-8 col-md-10 main">
            <div ng-bind-html="htmlcontent" ng-show="preview"></div>
        </div>
    </div>
</div>