<div id="dashboard-learn-knowledge-wrapper">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Regulament WS
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Formatul World Schools Style este in prezent unul dintre cele mai raspândite in competitiile internationale, alaturi de British Parliamentary si Karl Popper. (mai multe detalii pe wiki). De fapt, el pare la prima vedere chiar o combinatie a celor doua, pastrând elemente din ambele si combinându-le intr-o maniera atractiva. World Schools se adreseaza elevilor de liceu din toata lumea, care se intâlnesc anual la 2 dintre cele mai importanta competitii de acest tip: World Schools Debate Championship si European Schools Debate Championship.          </div>
            </div>
            <a href="http://www.ardor.org.ro/content/ro/Regulament_de_dezbateri_WS_Tinerii_Dezbat.pdf">Regulament</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Video
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Carti
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>