<div id="dashboard-feedback-trainer-wrapper" ng-controller="DashboardFeedbackTrainerCtrl">
    <div class="container-fluid">
        <h3>Give feedback!</h3>
        <form method="post" class="">
            <table class="table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Debater</th>
                    <th>Score</th>
                    <th>Feedback</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="role in roles">
                        <th>{{role}}</th>
                        <td>
                            <input type="text" ng-model="selected" typeahead="debater for debater in debaters | filter:$viewValue | limitTo:10" class="form-control" placeholder="..." required>
                        </td>
                        <td>
                            <input type="text" placeholder="..." required >
                        </td>
                        <td>
                            <textarea rows="1" ngMaxLength="3000"/></textarea> 
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Submit" class="btn btn-success" >
            <input type="button" value="Clear" class="btn btn-default reset" >
            <script>
                $('.reset').click(function() {
                            $(this).closest('form').find('input[type=text], textarea').val('');} );
            </script>
        </form>
        <form name="saveTemplateData" action="#" ng-controller="FormCtrl" ng-submit="submitForm()" class="hidden">

            First name:    <br/><input type="text" name="form.firstname">   <br/>
            Email Address: <br/><input type="text" ng-model="form.emailaddress"> <br/>

            <input type="submit">

        </form>
    </div>
</div>