<link rel="stylesheet" href="../../../assets/css/dashboard_style.css">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar" class="navbar-toggle collapsed"><i class="fa fa-bars"></i></button>
            <a href="/" class="navbar-brand"><img class="img-responsive" src="/assets/img/logoCDAIS.png" style="max-height: 40px; margin: -10px 10px 20px 20px;"/></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" id="icons-wrapper">
                <!--<li class="dropdown" id="feedback-dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                        <!--<i class="fa fa-comments icon-navbar"></i> <span class="caret"></span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                    <!--</ul>-->
                <!--</li>-->

                <li class="dropdown" id="notifications-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-envelope icon-navbar" ng-class="setNotificationsClass()"></i> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages" role="menu">
                        <li ng-repeat="notification in notifications">
                            <a href="">
                                <div id="not_date">
                                    <span class="pull-right text-muted"> <em>{{formatDate(notification.created_at)}}</em></span>
                                </div>
                                <div id="not_text">
                                    {{formatText(notification.text)}}
                                </div>
                            </a>
                        </li>
                        <li ng-show="notifications.length" ng-click="viewNotifications()" id="read_all">
                            <a href=""> Read all </a>
                        </li>
                        <li ng-hide="notifications.length" id="new">
                            No new notifications
                        </li>
                    </ul>
                </li>

                <li class="dropdown" id="profile-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-user icon-navbar"></i> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref=".profile" ui-sref-opts="{reload: true}">My Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="doLogout()">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a ui-sref=".home">Home</a></li>
                <li><a ui-sref=".profile" ui-sref-opts="{reload: true}">Profile</a></li>
                <li><a ui-sref=".events">Events</a></li>
                <li><a ui-sref=".learn">Learn</a></li>
                <li><a ui-sref=".feedback">Feedback</a></li>
                <li><a ui-sref=".post">Post</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
        </div>
    </div>
</div>