<div id="dashboard-feedback-trainer-wrapper" ng-controller="DashboardFeedbackTrainerCtrl">
    <div class="container-fluid">
        <button class="btn btn-default" onclick="$('#feedback').toggle()">New Feedback</button>
        <table class="table table-bordered" id="feedback">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
                <th>Feedback</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="role in roles">
                    <th>{{role}}</th>
                    <td>
                        <input type="text" placeholder="select..." ng-model="query"/>
                        <select ng-show="query" style="z-index: -100;">
                            <option class="artist cf" ng-repeat="item in debaters | filter:query" value="{{item.name}}">
                                {{item.name}}
                            </option>
                        </select>
                    </td>
                    <td><input type="text" placeholder="sum..."/></td>
                    <td><input type="text" placeholder="feedback.."/></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>