<div id="dashboard-learn-knowledge-wrapper">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        The great debaters - De vazut
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Filmul este inspirat dintr-o poveste reala, povestind viata profesorului Melvin Tolson, un om genial insa foarte imprevizibil ce se ocupa de formarea echipei de dezbatere a liceului. Acesta isi foloseste talentul de orator pentru a transforma un grup de elevi ignorati si subestimati de toata lumea intr-o echipa de dezbateri ce va intra in istorie. O figura extrem de controversata, profesorul Tolson pune la incercare standardele sociale din acea vreme si datorita metodelor sale neconventionale de predare si nu in ultimul rand datorita opiniilor politice radicale e supus unor presiuni si atacuri constante.                    <a href="http://www.imdb.com/title/tt0427309/"> Movie</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Publicistica
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <a href="http://www.economist.com/"> The Economist</a>
                </div>
                <div><a href="http://www.biziday.ro/2015/03/26/biziday-joi-26-martie-2015/"> Biziday </a> </div>
                <div><a href="http://www.theguardian.com/uk">The Guardian</a> </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Comunitati de dezbateri
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Asociatia internationala de dezbateri.
               <a href="http://idebate.org/">IDEA</a>
                </div>
            </div>
        </div>
    </div>
</div>