<div class="dashboard-learn-wrapper">
    <p>
        <button class="btn btn-default btn-sm hidden" ng-click="status.open = !status.open">Toggle last panel</button>
        <button class="btn btn-default btn-sm hidden" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
    </p>

    <label class="checkbox">
        <input type="checkbox" ng-model="oneAtATime"> Open only one at a time
    </label>
    <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="ws in ws" heading="{{ws.title}}">
            <div id="ws_accordion" class="col-sm-8 col-md-8">
                {{ws.content}}
            </div>
            <div class="col-sm-2 col-md-2">
                <img src="{{know.photos}}">
            </div>
        </accordion-group>
    </accordion>
</div>
