<link rel="stylesheet" href="../../../assets/css/dashboard_style.css">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar" class="navbar-toggle collapsed"><i class="fa fa-bars"></i></button>
            <a href="/" class="navbar-brand">CDAIS</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="badges-wrapper">
                <li><a href="#"><i class="fa fa-university badge-navbar"></i></a></li>
                <li><a href="#"><i class="fa fa-graduation-cap badge-navbar"></i></a></li>
                <li><a href="#"><i class="fa fa-globe badge-navbar"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="icons-wrapper">
                <li class="dropdown" id="feedback-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-comments icon-navbar"></i> <span class="caret"></span>
                        <span class="fa-stack notifications-counter">
                            <i class="fa fa-circle fa-stack-1x"></i>
                            <strong class="fa-stack-1x fa-inverse">5</strong>
                        </span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                    </ul>
                </li>

                <li class="dropdown" id="notifications-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-envelope icon-navbar"></i> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                    </ul>
                </li>

                <li class="dropdown" id="profile-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-user icon-navbar"></i> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref=".profile">My Profile</a></li>
                        <li><a ui-sref=".profile">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="dashboardCtrl.doLogout()">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a ui-sref=".home">Home</a></li>
                <li><a ui-sref=".profile">Profile</a></li>
                <li><a ui-sref=".events">Events</a></li>
                <li><a ui-sref=".learn">Learn</a></li>
                <li><a ui-sref=".feedback">Feedback</a></li>
                <li><a ui-sref=".post">Post</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
        </div>
    </div>
</div>