doctype html
html
    block head
        head
        block scripts
            script(src="/bower_components/jquery/dist/jquery.min.js")
            script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
        block css
            link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
            link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block framecontent
        block content
